<% const foldersWithFiles = folders.filter((folder) => folder.files.length > 0); %>

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid flex-lg-column align-items-lg-start justify-content-lg-start">
    <a class="navbar-brand" href="#" style="font-size: 28px;">File Uploader</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-column">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2 <%= locals.urlPath.endsWith('/') ? 'active' : '' %>" <%= locals.urlPath.endsWith('/') ? 'aria-current=page' : '' %> href="/">
            <img src="/icons/house.svg" alt="" />
            Home
          </a>
        </li>

        <% if (locals.folders?.length > 0) { %>
          <li class="nav-item">
            <a href="/recent" class="nav-link d-flex align-items-center gap-2 <%= locals.urlPath.startsWith('/recent') ? 'active' : '' %>" <%= locals.urlPath.startsWith('/recent') ? 'aria-current=page' : '' %>>
              <img src="/icons/history.svg" alt="">Recent
            </a>
          </li>

          <% if (foldersWithFiles.length > 0) { %>
              <% folders.forEach(folder => { %>
              <li class="nav-item">
                  <a href="/folder/<%= folder.id %>" class="nav-link d-flex align-items-center gap-2 <%= locals.urlPath.endsWith(`/folder/${folder.id}`) ? 'active' : '' %>" <%= locals.urlPath.endsWith(`/folder/${folder.id}`) ? 'aria-current=page' : '' %>>
                    <img src="/icons/folder.svg" alt=""><%= folder.name %>
                  </a>
              </li>
              <% }); %>
          <% } %>
        <% } %>

        <% if (locals.currentUser) { %>
          <li class="nav-item">
            <a href="/folder/manage" class="nav-link text-start d-flex align-items-center gap-2 <%= locals.urlPath.startsWith('/folder/manage') ? 'active' : '' %>" <%= locals.urlPath.startsWith('/folder/manage') ? 'aria-current=page' : '' %>>
              <img src="/icons/settings.svg" alt="">Manage folders
            </a>
          </li>
          <li><hr></li>
          <li class="nav-item">
            <a href="/logout" onclick="return confirm('Are you sure you want to logout?')" class="nav-link d-flex align-items-center gap-2">
              <img src="/icons/log-in.svg" alt="">Logout
            </a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a href="/sign-up" class="nav-link d-flex align-items-center gap-2"><img src="/icons/circle-user.svg" alt="">Sign-Up</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link d-flex align-items-center gap-2"><img src="/icons/log-out.svg" alt="">Login</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
